<template containerless>
    <li role='listitem'>
        <div class="ms-Nav-compositeLink is-expanded">
            <!--{ (nestingLevel === 0 && link.links && link.links.length > 0 ?
          <button
            className='ms-Nav-chevronButton ms-Nav-chevronButton--link'
            onClick={ this._onLinkExpandClicked.bind(this, link) }
            aria-label={ this.props.expandButtonAriaLabel }
            aria-expanded={ link.isExpanded ? 'true' : 'false' }
            >
            <i className='ms-Nav-chevron ms-Icon ms-Icon--ChevronDown'></i>
          </button> : null
        ) }
        { !!link.onClick ? this._renderButtonLink(link, linkIndex) : this._renderAnchorLink(link, linkIndex, nestingLevel) }-->

            <a class="ms-Nav-link" href="${url || 'javascript:'}" title="${ title || name }"> <i class="ms-Icon ms-Nav-IconLink ${'iconClassName'}"></i>
                <span class='ms-Nav-linkText'>${name}</span>
            </a>
        </div>
    </li>
</template>