<template>
    <div class="ms-Persona ms-Persona--${varient} 
        ms-Persona--${presence} 
        ms-Persona--${selectableCss} 
        ms-Persona--${darkTextCss} 
        ${readOnly? 'ms-Persona--readonly' : '' }" title.bind="tooltip" ref="ele">

        <div class="ms-Persona-imageArea">
            <!--<i class="ms-Persona-placeholder ms-Icon ms-Icon--${bgIcon}"></i>-->
            <div if.bind="initials" class="ms-Persona-initials ms-Persona-initials--${initialsColor}">${initials}</div>
            <img if.bind="showImage" class="ms-Persona-image" src="${image}">
        </div>
        <div class="ms-Persona-presence" if.bind="showPresence">
            <i if.bind="presenceIcon" class="ms-Persona-presenceIcon ms-Icon ms-Icon--${presenceIcon}"></i>
        </div>
        <div class="ms-Persona-details">
            <div class="ms-Persona-primaryText">${name}</div> <!-- if.bind="name" -->
            <div class="ms-Persona-secondaryText">${title}</div> <!-- if.bind="showTitle" -->
            <div class="ms-Persona-tertiaryText">${status}</div> <!-- if.bind="showStatus" -->
            <div class="ms-Persona-optionalText">${detail}</div> <!-- if.bind="showDetail" -->
        </div>
        <div class="ms-Persona-actionIcon" if.bind="varient==='token'" click.trigger="actionClick()">
            <i class="ms-Icon ms-Icon--${actionIcon}"></i>
        </div>
        <slot>
            <!-- for Persona Card -->
        </slot>
    </div>
</template>