<template>
    <li class="ms-ContextualMenu-item ms-ContextualMenu-item--${variant} ${hasMenu ? 'ms-ContextualMenu-item--hasMenu' : ''}">
        ${variant !== 'default' && variant !== 'divider' ? title : ''}
        <a if.bind="variant === 'default'" ref="$contextualMenuLink" class="ms-ContextualMenu-link ${state}  ${disabled ? 'is-disabled' : ''} ${selected ? 'is-selected' : ''}"
            href.bind="href" click.trigger="linkClickHandler($event)">${title}</a>
            <!--need to fix click.trigger to click.delegate when shadowdom issue is fixed-->
            <i if.bind="icon" class="ms-ContextualMenu-subMenuIcon ms-Icon ms-Icon--${icon} ms-fontSize-${iconSize}"></i>
            <i if.bind="hasMenu && !(icon)" class="ms-ContextualMenu-subMenuIcon ms-Icon ms-Icon--ChevronRight"></i>
            <!-- slot for sub menu -->
            <slot></slot>
    </li>
</template>